.cards-wrapper {
  width: calc(100vw - 4rem);
  height: $card-height;
  overflow: scroll;
  margin: 0 2rem;
  border-radius: 10px;
  
  .card {
    height: $card-height;
    width: $card-width;
    position: absolute;
    background-size: 100%;
    transition: 1s;

    &.hearts-1 {
      background-image: url("../images/hearts-1.svg");
    }
    &.hearts-2 {
      background-image: url("../images/hearts-2.svg");
    }
    &.hearts-3 {
      background-image: url("../images/hearts-3.svg");
    }
    &.hearts-4 {
      background-image: url("../images/hearts-4.svg");
    }
    &.hearts-5 {
      background-image: url("../images/hearts-5.svg");
    }
    &.hearts-6 {
      background-image: url("../images/hearts-6.svg");
    }
    &.hearts-7 {
      background-image: url("../images/hearts-7.svg");
    }
    &.hearts-8 {
      background-image: url("../images/hearts-8.svg");
    }
    &.hearts-9 {
      background-image: url("../images/hearts-9.svg");
    }
    &.hearts-10 {
      background-image: url("../images/hearts-10.svg");
    }
    &.hearts-11 {
      background-image: url("../images/hearts-11.svg");
    }
    &.hearts-12 {
      background-image: url("../images/hearts-12.svg");
    }
    &.hearts-13 {
      background-image: url("../images/hearts-13.svg");
    }
    &.diamonds-1 {
      background-image: url("../images/diamonds-1.svg");
    }
    &.diamonds-2 {
      background-image: url("../images/diamonds-2.svg");
    }
    &.diamonds-3 {
      background-image: url("../images/diamonds-3.svg");
    }
    &.diamonds-4 {
      background-image: url("../images/diamonds-4.svg");
    }
    &.diamonds-5 {
      background-image: url("../images/diamonds-5.svg");
    }
    &.diamonds-6 {
      background-image: url("../images/diamonds-6.svg");
    }
    &.diamonds-7 {
      background-image: url("../images/diamonds-7.svg");
    }
    &.diamonds-8 {
      background-image: url("../images/diamonds-8.svg");
    }
    &.diamonds-9 {
      background-image: url("../images/diamonds-9.svg");
    }
    &.diamonds-10 {
      background-image: url("../images/diamonds-10.svg");
    }
    &.diamonds-11 {
      background-image: url("../images/diamonds-11.svg");
    }
    &.diamonds-12 {
      background-image: url("../images/diamonds-12.svg");
    }
    &.diamonds-13 {
      background-image: url("../images/diamonds-13.svg");
    }
    &.clubs-1 {
      background-image: url("../images/clubs-1.svg");
    }
    &.clubs-2 {
      background-image: url("../images/clubs-2.svg");
    }
    &.clubs-3 {
      background-image: url("../images/clubs-3.svg");
    }
    &.clubs-4 {
      background-image: url("../images/clubs-4.svg");
    }
    &.clubs-5 {
      background-image: url("../images/clubs-5.svg");
    }
    &.clubs-6 {
      background-image: url("../images/clubs-6.svg");
    }
    &.clubs-7 {
      background-image: url("../images/clubs-7.svg");
    }
    &.clubs-8 {
      background-image: url("../images/clubs-8.svg");
    }
    &.clubs-9 {
      background-image: url("../images/clubs-9.svg");
    }
    &.clubs-10 {
      background-image: url("../images/clubs-10.svg");
    }
    &.clubs-11 {
      background-image: url("../images/clubs-11.svg");
    }
    &.clubs-12 {
      background-image: url("../images/clubs-12.svg");
    }
    &.clubs-13 {
      background-image: url("../images/clubs-13.svg");
    }
    &.spades-1 {
      background-image: url("../images/spades-1.svg");
    }
    &.spades-2 {
      background-image: url("../images/spades-2.svg");
    }
    &.spades-3 {
      background-image: url("../images/spades-3.svg");
    }
    &.spades-4 {
      background-image: url("../images/spades-4.svg");
    }
    &.spades-5 {
      background-image: url("../images/spades-5.svg");
    }
    &.spades-6 {
      background-image: url("../images/spades-6.svg");
    }
    &.spades-7 {
      background-image: url("../images/spades-7.svg");
    }
    &.spades-8 {
      background-image: url("../images/spades-8.svg");
    }
    &.spades-9 {
      background-image: url("../images/spades-9.svg");
    }
    &.spades-10 {
      background-image: url("../images/spades-10.svg");
    }
    &.spades-11 {
      background-image: url("../images/spades-11.svg");
    }
    &.spades-12 {
      background-image: url("../images/spades-12.svg");
    }
    &.spades-13 {
      background-image: url("../images/spades-13.svg");
    }

    &:hover {
      z-index: 50;
    }
  }

  &.hidden {
    .card {
      background: rgb(0,212,255);
      background: radial-gradient(circle, #00d4ff 0%, #090979 65%, #020024 97%);
      border: 1px solid;
      border-radius: 10px;
    }
  }

  &.shuffling {
    .card {
      left: 0 !important;
    }
  }
}

