$suits: hearts, diamonds, clubs, spades;
$card-values: 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13;

@mixin cards-backgrounds {
  @each $suit in $suits {
    @each $value in $card-values {
      &.#{$suit}-#{$value} {
        background-image: url("../assets/cards/#{$suit}-#{$value}.svg");
      }
    }
  }
}

.cards-wrapper {
  width: calc(100vw - 4rem);
  height: $card-height;
  overflow: scroll;
  margin: 0 2rem;
  border-radius: 10px;
  
  &.shuffling {
    .card {
      left: 0 !important;
    }
  }

  &.hidden {
    .card {
      background: rgb(0,212,255);
      background: radial-gradient(circle, #00d4ff 0%, #090979 65%, #020024 97%);
      border: 1px solid;
      border-radius: 10px;
      color: black;
    }
    .corner,
    .symbol,
    .value {
      display: none;
    }
  }
}
  
.card {
  width: 200px;
  height: 300px;
	padding: 2.25rem;
  border: 1px solid gray;
  border-radius: 10px;
  background-color: white;
	display: flex;
	position: absolute;
	justify-content: space-around;
  align-items: center;
  transition: 1s left;

  &:hover { z-index: 500; }

	.suits {
		display: flex;
		flex-direction: column;
    justify-content: space-around;
    height: 100%;
	}

	&.♥, &.♦ { color: $red; }
  &.♠, &.♣ { color: $black; }

	.symbol {
		font-size: 2.25rem;

    &.big { font-size: 7rem; }
	}

  .corner {
		font-family: 'Open Sans', sans-serif;
		position: absolute;
		top: 10px;
		left: 10px;
		font-size: 1.2rem;

    .value {
      display: block;
    }

		&.flipped {
			top: auto;
			left: auto;
			bottom: 10px;
			right: 10px;
			transform: rotate(180deg);
		}
  }
  
}
